In [ ]:
#if else
if (True): #boolen value True=1
  print("yes")
else:
  print("no")

In [ ]:
if (False): #boolen value False=0
  print("yes")
else:
  print("no")

In [ ]:
#camparison operator useing if else
a=10
if(a==10):
  print("a is equal to 10")
else:
  print("a is not equal to 10")

In [ ]:
#use elif and "and" operator
#student gread system
#35>score poor student
#35<score and 70>score avg student
#35<score and 70<score and score<=100 good student
score=int(input("put your score="))
if(score<=35):
  print("poor student")
elif(score>35 and score<70):
  print("avg student")
elif(score>35 and score>=70 and score<=100):
  print("good student")
else:
  print("invalide score")

In [ ]:
#score system
#score>=70 and score<=100 "Get student name,department,and location"
score=int(input("put your score="))
if(score>=70 and score<=100):
  print("you are eligible")
  name=input("Enter your Name:")
  dept=input("Enter your Department:")
  location=input("Enter your Location:")
  print(name,"\n",dept,"\n",location)
else:
  print("you are not eligible")

put your score=89
you are eligible
Enter your Name:hari
Enter your Department:cdbs
Enter your Location:trichy
hari
 cdbs
 trichy

In [ ]:
#loan eligiblity checking using "or" Operator
#salary>20000 or age<=25 "eligible for loan"
a=int(input("Enter your Age:")) #a for Age
s=int(input("Enter your Monthly Salary:")) #s for Salary
if(s>=20000 or a>=25):
  print("you are eligible for loan")
else:
  print("you are not eligible for loan")

Enter your Age:29
Enter your Monthly Salary:140000
you are eligible for loan